html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Muli', serif; 
}


.col-sm-6 p {
  width: 450px;
  padding: 50px;
  margin: 0 auto;
  font-family: 'Inconsolata';
  text-transform: lowercase; 
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;

}

a {
  color: #f7484e;
}


#yelp {   
  width: 100%;
  background-color: #f7484e;
  float: left;
  height: 550px;
  display: inline-block;
  color: white;
}

#yelp p {
  padding-left: 50px;
}

.buttons {
  margin-left: 50px;
  float: left;
}


.yelp {
  width: 50%;
  padding-top: 50px;
  padding-left: 50px;
  color: white;
  font-family: 'Muli', serif; 
  text-transform: lowercase;
}

#yelp1 div {
  background-color: #292929;
}


#yelp img {
  max-width: 40%;
  border: 0;
  float: right;
  margin-right: 50px;
  margin-top: 50px;

}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.navbar {
  background-color: white;
  height: 75px; 
  margin-bottom: 0;
}




.shop {
  width: 100%;
  height: 100%;
}

.btns:hover {
  background-color: #292929;
  color: white;
}

.btns {
  color: #f7484e;
}

span:hover {
  color: white;
}

.spacer {
  margin: 20px;
}


.hiders {
  align-content: center;
  margin: 0 auto ;
}

.view img {
    width: 200px;
    height: 200px; 
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.prts {
  width: 80%;
  align-content: center;

}


.view.view-third {
  width: 200px;
  background-color: #292929;
  height: 200px; 
  padding: -40px;
  }


#tagline {
  font-family: 'Muli', serif; 
  margin-top: 100px;
  color: #f7484e;
  font-size: 28px;
  margin-left: 400px;
}

#name {
 font-size: 6rem; 
 color: #f5f5f5; 
 font-family: 'Ovo', sans-serif;
 text-transform: lowercase;
 font-weight: 400;
 letter-spacing: 8px;
 margin-left: 9rem;
 margin-top: 100px;
}

#titles {
  margin-bottom: 0 auto;
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #292929; 
  text-transform: lowercase;
}
 .jumbotron {
  background: #292929;
  width: 100%;
  height: 500px;
  background-size: cover; 
  overflow: hidden;
  margin-top: 0;
}

#recent {
  font-family: 'Ovo', serif; 
  width: 100px;
  text-transform: uppercase;
  margin-top: -100px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    display: inline-block;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

.navbar-default .navbar-nav ul li{
  display: inline-block;
  margin: 20px;
}


span {
  color: #f7484e;
}


 p {
  font-family: 'Muli',sans-serif;
  font-weight: 300;
  letter-spacing: 2px; 
}

.btn-info-outline {
  background-color: white;
  color: #292929;
  margin-top: 0px;
}
 h4 {
  font-size: 2.5rem;
  font-family: 'Inconsolata';
  text-align: center;
  color: #0F1626;
}

#padding {
  padding-bottom: 100px;

}
.about.spacer{padding-left: 4em; padding-right: 4em;padding-bottom: 0;}

.services ul li{width: 10em;height: 10em;padding: 0;border-radius: 50%;margin: 0 1.25em;line-height: 13.5em;color: #f7484e;}
.services ul li span{line-height: 2em;display: inline-block;font-weight: 300;}
.services ul li span i{font-size: 3em;}
.services ul li span b{display: block;font-size: 1em;font-weight: 300;}

#works{padding-top:6em;}
#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
#works figcaption a:hover{text-decoration: none;padding: 0 3em;}
/*works*/

.port  p {
  font-size: 2rem; 
  margin-top: 40px; 
  letter-spacing: 2px; 
  font-weight: 400;
}


/*
Hover functionality for portfolio*/



.view {

    width: 100%;
    margin: 40px;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

span {
  font-family: 'Muli', serif; 

}

span .glyphicon-chevron-left {
  font-size: 3.2em;
  margin-left: 20px;
}

#containerForWork {
  width: 65%;
  height: 320px;
  background-color: white;
}


h3 {
  color: #f7484e;
  font-family: 'Muli'; 
  font-size: 18px;
}

#chevron {
  margin-top: 100px;
  font-size: 50px
}

.other {
  clear: both;
  text-align: center;
  padding: 50px;
  font-family: 'Muli';
  text-transform: lowercase;
  letter-spacing: 2px;
  color: #f7484e;
}


#hire {
  width: 100%;
  height: 500px;
  clear: both;
  font-family: 'Muli', serif;
  font-size: 30px;
  text-align: center;
  padding-top: 100px; 
}

.hire {
  height: 400px;
  margin-top: 900px;
}


.langs li {
  font-family: 'Muli', serif; 
  padding: 10px;
  color: white;
  list-style-type: none;
  font-size: 15px;
  text-align: center;
}

#technologies {
  height: 550px ;
  width: 100%;
  float: right;
  clear: both;
  background-color: #292929;
}


.view img {
    display: block; 
    align-content: center;
    position: relative;
    border: 3px solid #f7484e;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: white;
    padding: 10px 20px 20px;
    text-align: center
}
.describe {
  color: white;
  font-size: 14px
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #f7484e;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
    font-color: white;

}

.view-third img {   
    transition: all 0.2s ease-in; 
}
.view-third .mask { 
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transform: translate(460px, -100px) rotate(180deg);
  transition: all 0.2s 0.4s ease-in-out;
}
.view-third h2{
  transform: translateY(-100px);
  transition: all 0.2s ease-in-out;
}
.view-third p { 
  transform: translateX(300px) rotate(90deg);
  transition: all 0.2s ease-in-out;
  color: white;
}
.view-third a.info { 
  transform: translateY(-200px);
  transition: all 0.2s ease-in-out;
} 
.view-third:hover .mask { 
  opacity:1; 
  transition-delay: 0s;              
  transform: translate(0px, 0px);
}
.view-third:hover h2 { 
  transform: translateY(0px); 
  transition-delay: 0.5s; 
}
.view-third:hover p { 
  transform: translateX(0px) rotate(0deg);
  transition-delay: 0.4s;

}
.view-third:hover a.info { 
  transform: translateY(0px);
  transition-delay: 0.3s;
}

@media screen and (max-width: 368px) {
    img.smallResolution{
        min-height: 150px;
    }

}
